@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ribeye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ribeye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Noto Sans KR";
  color: #fff;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
  width: 100%;
}

strong {
  color: #fff;
  font-weight: normal;
}

span {
  color: #fff;
}

address {
  font-style: normal;
}

h1 {
  font-size: 0;
}

h2 {
  font-size: calc(32px + 0.2vw);
  font-family: "Ribeye";
  color: #fff;
  letter-spacing: 3px;
}

h3 {
  font-size: calc(24px + 0.2vw);
  font-family: "Noto Sans KR";
}

h4 {
  font-size: 16px;
  font-family: "Noto Sans KR";
  font-weight: normal;
}

p {
  font-size: 14px;
  line-height: 1.8;
}

body {
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

header {
  position: fixed;
  height: 60px;
  width: 100%;
}
header .logo-menu-flex {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-menu-flex .logo {
  width: 50px;
  height: 44px;
}
header .logo-menu-flex #mobile-btn {
  position: absolute;
  top: 14px;
  right: 0px;
  z-index: 120;
  width: 40px;
}
header .logo-menu-flex #mobile-btn span {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3411764706);
  display: block;
  height: 6px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
}
header .logo-menu-flex #mobile-btn span:nth-child(2) {
  margin: 7px 0;
}
header .logo-menu-flex .main-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 60vh;
  border-bottom-left-radius: 100%;
  background-color: #3E81FF;
  width: 100vw;
}
header .logo-menu-flex .main-menu .gnb {
  position: absolute;
  top: 60px;
  right: 50px;
  text-align: right;
  font-size: 24px;
}
header .logo-menu-flex .main-menu .gnb li {
  margin: 10px;
}
header .logo-menu-flex .main-menu .gnb li a span:hover {
  animation: letter-spacing-ani 0.5s ease-in forwards;
  font-weight: 600;
}
@keyframes letter-spacing-ani {
  0% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 5px;
  }
}

@media (min-width: 1440px) {
  section {
    width: 100%;
  }
}

h2 {
  padding: 5px;
  margin-bottom: 30px;
  text-align: center;
}
h2 .point-blue {
  color: #3E81FF;
  font-weight: 600;
}

main {
  margin: 0 auto;
}
main .Intro {
  position: relative;
  height: 900px;
}
main .Intro .moon {
  background-image: url(../images/moon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -60vh;
  z-index: -1;
}
main .Intro .rocket {
  position: absolute;
  top: 160px;
}
main .About-me {
  padding-top: 60px;
}
main .About-me .flex-box {
  position: relative;
  height: 900px;
}
main .About-me .flex-box .profile-line {
  position: absolute;
  top: 0;
  left: 6px;
  width: 306px;
  height: 316px;
  border: 3px solid #fff;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  border-bottom-right-radius: 130px;
  border-bottom-left-radius: 130px;
}
main .About-me .flex-box .profile-line::before {
  position: absolute;
  top: 4px;
  left: 6px;
  content: "";
  width: 300px;
  height: 310px;
  border: 3px solid #fff;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  border-bottom-right-radius: 130px;
  border-bottom-left-radius: 130px;
}
main .About-me .flex-box .profile-square {
  position: absolute;
  bottom: 0;
  background-color: aquamarine;
  height: 535px;
}
main .Skill {
  padding-top: 60px;
}
main .Skill .skill-list {
  display: grid;
  grid-template-columns: repeat(2, 158px);
  grid-template-rows: minmax(158px, auto);
  gap: 12px;
}
main .Skill .skill-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 158px;
  border: 15px solid #D9D9D9;
  border-radius: 90px;
}
main .Skill .skill-list li a img {
  margin: 0 auto;
  width: 98px;
  height: 98px;
  border-radius: 24px;
}
main .Prortfolio {
  padding-top: 60px;
  text-align: center;
}
main .Prortfolio .site-sample {
  margin-bottom: 60px;
}
main .Prortfolio .site-sample h3 {
  padding: 5px;
  border-bottom: 3px solid #fff;
  margin-bottom: 10px;
}
main .Prortfolio .site-sample strong {
  font-size: 18px;
}
main .Prortfolio .site-sample p {
  font-size: 16px;
  margin: 30px 0;
}
main .Prortfolio .site-sample .btns {
  margin-top: 50px;
}
main .Prortfolio .site-sample .btns .btn-plan,
main .Prortfolio .site-sample .btns .btn-page {
  position: relative;
  width: 208px;
  margin: 0 auto;
}
main .Prortfolio .site-sample .btns span {
  position: absolute;
  top: 0;
  right: 20px;
  font: 35px "Comfortaa";
  color: #000;
  font-weight: normal;
}
main .Prortfolio .site-sample .btns input {
  width: 208px;
  height: 57px;
  font: 24px "Noto Sans KR";
  border: 1px solid #000;
  border-radius: 30px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: 39px;
  margin-bottom: 10px;
}
main .Prortfolio .site-sample .btns .btn-plan input {
  background-image: url(../images/i-logo-btn.svg);
}
main .Prortfolio .site-sample .btns .btn-page input {
  background-image: url(../images/i-github-mark.svg);
}
main .Prortfolio .coding-sample {
  padding-top: 60px;
}
main .Prortfolio .coding-sample .coding-sample-list ul {
  display: flex;
  width: 100%;
}
main .Prortfolio .coding-sample .coding-sample-list ul li:nth-child(1) {
  margin-right: 12px;
}
main .Prortfolio .coding-sample .coding-sample-list ul li a img {
  margin-bottom: 20px;
}
main .Prortfolio .coding-sample .coding-sample-list ul li a h4 {
  position: relative;
  width: 156px;
  font-size: 16px;
  padding: 3px;
  border: 2px solid #fff;
  border-radius: 20px;
}
main .Prortfolio .coding-sample .coding-sample-list ul li a h4::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 152px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 20px;
}
main .Contact {
  position: relative;
  height: 840px;
  margin-top: 60px;
  text-align: center;
  overflow: hidden;
}
main .Contact h2 {
  margin-bottom: 60px;
}
main .Contact .email-txt strong {
  font-size: 24px;
  font-weight: 600;
}
main .Contact .email-txt a {
  font-size: 20px;
}
main .Contact .img-1 {
  display: inline-block;
  width: 92px;
  height: 67px;
  border: 1px solid #fff;
  margin-top: 60px;
  margin-bottom: 50px;
}
main .Contact .message {
  margin-bottom: 90px;
}
main .Contact .message p {
  font-size: 32px;
  line-height: 1.2;
}
main .Contact .person {
  position: absolute;
  bottom: 80px;
  width: 134px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
main .Contact .person img {
  display: inline-block;
  width: 134px;
}
main .Contact .earth {
  position: absolute;
  bottom: -40vh;
  z-index: 0;
  transform: scale(200%);
}/*# sourceMappingURL=index.css.map */