@import "./style.scss";
@import "./common.scss";
@import "./mixin.scss";

html, body {
  scroll-behavior: smooth;
}
body {
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat-x;
  cursor: url(../images/cursor.png) auto;
  animation: bg 60s linear infinite; //
  @keyframes bg {
    0% {background-position: 0;}
    100% {background-position: -2100px;}
  }
}

.container {
  width: $width-wide;
  max-width: $break-large;
  margin: 0 auto;
  padding: 0 16px;

  @include responsive(large-screens) {
    width: $width-wide;
    max-width: $break-large;
    margin: 0 auto;
    padding: 0 10px;
    // border: 1px dotted red;
  }
}

// ============
.cursor-img {
  position: fixed;
  width: 40px;
  z-index: 1000;
}

// ++ header 
header {
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 50;

  .logo-menu-flex {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include responsive(large-screens) {
      position: static;
      width:100%;
    }

    .logo {
      width: 15%;
      height: 44px;
      max-width: 60px;
      @include responsive(large-screens) {
        width: 55px;
      }
    }

    #mobile-btn {
      position: absolute;
      top: 14px;
      right: 0;
      z-index: 120;
      // width: 40px;
      // height: 35px;
      display: block;
      transition: all 0.5s;

      width: 40px;
      height: 36px;

      cursor: pointer;

      @include responsive(large-screens) {
        display: none;
      }
      &.active {
        span {
          &:nth-child(1) {
            transform: translateY(15px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-15px) rotate(-45deg);
          }
        }
      }
      span {
        box-shadow: 1px 1px 5px #00000057;
        display: block;
        background-color: $color-white;
        transition: all 0.5s;

        position: absolute;
        left: 0;
        width: 100%;
        height: 6px;
        border-radius: 6px;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(3) {
          bottom: 0;
        }

      }
    }

    .main-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 45vh;
      border-bottom-left-radius: 100%;
      background-color: $color-blue;
      width: 100vw;
      animation: tabmenu-ani 0.4s ease forwards;

      &.active { // 토글용
        display: block;
      }
      
      @keyframes tabmenu-ani {
        0% {transform: translate(100px,-100px);}
        100% {transform: translate(0, 0);}
      }

      @include responsive(large-screens) {
        position: static;
        display: block;
        border-bottom-left-radius: 0;
        background-color: transparent;
        height: 60px;
        width: 620px;
        animation: none;
      }

      .gnb {
        position: absolute;
        top: 60px;
        right: 70px;
        text-align: right;
        font-size: 24px;

        @include responsive(large-screens) {
          position: static;
          display: flex;
          width: 620px;
          height: 50px;
          text-align: center;
          font-size: 20px;
          margin-top: 5px;

          border: 1px solid $color-white;
          border-radius: 10px;
          background-color: rgba($color: $color-black, $alpha: 0.5);

          
        }
        li {
          margin: 10px;
          @include responsive(large-screens) {
            width: 100px;
            &.active a {
              font-weight: bold;
              color: blue; /* 활성화된 메뉴 색상 */
            }
          }
          a {
            span {

              &:hover {
                animation: letter-spacing-ani 0.5s ease-in forwards;
                font-weight: 600;
                @include responsive(large-screens) {
                  animation: none;
                  font-weight: 600;
                }

                @keyframes letter-spacing-ani {
                  0% {
                    letter-spacing: 0
                  }

                  100% {
                    letter-spacing: 5px
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// ++ main

//공통소스
section {
  .wrapper {
    margin-top: 100px;
    @include responsive(large-screens) {
      padding-left: 120px;
      padding-right: 120px;
      padding-top: 80px;
      margin-top: 0;
    }
  }
}

h2 {
  padding: 5px;
  margin-bottom: 30px;
  text-align: center;

  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.7s ease, transform 0.9s ease;
  @include responsive(large-screens) {
  text-align: left; 
  font-size: 50px;
  // margin-bottom: 0; 텍스트 사이즈보고 수정할지 말지
  }
  .point-blue {
    color: $color-blue;
    font-weight: 600;
  }
}

main {
  margin: 0 auto;
  
  #Intro {
    position: relative;
    overflow: hidden;
    height: 100vh;
    .scroll-right {
      position: relative;
      // background-color: aquamarine;
      .scroll-bar {
        @include responsive(large-screens) {
          position: fixed;
          top: 120px;
          // left: 10px;
          margin-left: 30px;
          height: 300px;
          width: 3px;
          
          background-color: white;
        }
        .scroll-circle {
          @include responsive(large-screens) {
            position: absolute;
            top: 0;
            width: 15px;
            height: 15px;
            left: -6px;
            background-color: white;
            border-radius: 10px;
            &::before {
              content: "";
              position: absolute;
              top: 285px;
              width: 15px;
              height: 15px;
              background-color: white;
              border-radius: 10px;
            }
          }
        }
      }
    }
    @include responsive(large-screens) {
      height: 950px;
    }
    h2 {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%);
      font-size: 50px;
      text-align: center;
      text-shadow: 0 0 10px black;
      animation: title-ani 1.5s ease forwards;
      @keyframes title-ani {
        0% {filter: blur(0px); transform: translate(-50%) translateY(0); opacity: 1;}
        25% {filter: blur(0px); transform: translate(-50%) translateY(0); opacity: 1;}
        75% {filter: blur(3px); transform: translate(-50%) translateY(0); opacity: 1;}
        100% {filter: blur(4px); transform: translate(-50%) translateY(100px); opacity: 0;}
      }
      @include responsive(medium-screens) {
        font-size: 70px;
      }
    }
    .moon {
      position: absolute;
      top: -300px;
      left: 50%;
      transform: translateX(-50%) scale(1);
      z-index: -1;
      width: 1200px;
      animation: moon-scale-moblie 2s ease forwards;

      @keyframes moon-scale-moblie {
        0% {top: -100px; left: 50%; transform: translateX(-50%) scale(1.5)};
        70% {top: -100px; left: 50%; transform: translateX(-50%) scale(1.5)};
        100% {left: 50%; transform: translateX(-50%) scale(1)};
      }
      @include responsive(medium-screens) {
        top: -300px;
      }

      @include responsive(large-screens) {
        top: -400px;
        transform: translateX(-61.5%);
        animation: moon-scale-desktop 2s ease forwards;

        @keyframes moon-scale-desktop {
          0% {top: -100px; left: 50%; transform: translateX(-61.5%) scale(1.2)};
          50% {top: -100px; left: 50%; transform: translateX(-61.5%) scale(1.2)};
          100% {left: 50%; transform: translateX(-61.5%) scale(1)};
        }
      }

      img {
        @include responsive(large-screens) {
          width: 1440px;
        }
      }
    }

    .rocket {
        position: absolute;
        top: 15%;
        left: 48%;
        transform: translateX(-30%);
        width: 260px;
        animation: rocket-ani 2s ease forwards;

        @keyframes rocket-ani {
          0% {left: 48%; transform: translateY(0) translateX(-30%) scale(0);};
          25% {left: 48%; transform: translateY(0) translateX(-30%) scale(0);};
          50% {left: 48%; transform: translateY(0) translateX(-30%) scale(0);};
          75% {left: 48%; transform: translateY(0) translateX(-30%) scale(0);};
          100% {left: 48%; transform: translateY(150px) translateX(-30%) scale(1);};
        }
      @include responsive(large-screens) {
        transform: translateX(-10%);

      }
    }

    .mouse {
      a {
        padding-top: 60px;
        cursor: default;

        span {
          position: absolute;
          bottom: 3vh;
          left: 50%;
          width: 35px;
          height: 55px;
          margin-left: -15px;
          border: 2px solid #fff;
          border-radius: 50px;
          box-sizing: border-box;
          @include responsive(large-screens) {
            bottom: 10vh;
          }
          &::before {
            position: absolute;
            top: 10px;
            left: 45%;
            content: '';
            width: 10px;
            height: 10px;
            margin-left: -3px;
            background-color: $color-blue;
            border-radius: 100%;
            -webkit-animation: sdb 2s infinite;
            animation: wheel-up-dw 2s infinite;
          }

          @-webkit-keyframes wheel-up-dw {
            0% {
              -webkit-transform: translate(0, 0);
              opacity: 0;
            }
            40% {
              opacity: 1;
            }
            80% {
              -webkit-transform: translate(0, 20px);
              opacity: 0;
            }
            100% {
              opacity: 0;
            }
          }
          @keyframes wheel-up-dw {
            0% {
              transform: translate(0, 0);
              opacity: 0;
            }
            40% {
              opacity: 1;
            }
            80% {
              transform: translate(0, 20px);
              opacity: 0;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  #About-me {
    
    @include responsive(large-screens) {
      height: 100vh
    }

    .flex-box {
      @include responsive(large-screens) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: antiquewhite;
      }
      .profile-photobox {
        position: relative;
        height: 400px;
        width: 100%;
        overflow: hidden;
        @include responsive(large-screens) {
          width: 690px;
          height: 500px;
        }
        .profile-line {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 306px;
          height: 316px;
          border: 3px solid $color-white;
          border-top-left-radius: 160px;
          border-top-right-radius: 160px;
          border-bottom-right-radius: 130px;
          border-bottom-left-radius: 130px;
          @include responsive(large-screens) {
            width: 483px;
            height: 473px;
            border: 3px solid $color-white;
            border-top-left-radius: 250px;
            border-top-right-radius: 250px;
            border-bottom-right-radius: 180px;
            border-bottom-left-radius: 180px;
          }
          &::before {
            position: absolute;
            top: 4px;
            left: 6px;
            content: '';
            width: 300px;
            height: 310px;
            border: 3px solid $color-white;
            border-top-left-radius: 160px;
            border-top-right-radius: 160px;
            border-bottom-right-radius: 130px;
            border-bottom-left-radius: 130px;
            @include responsive(large-screens) {
              width: 477px;
              height: 467px;
              border: 3px solid $color-white;
              border-top-left-radius: 250px;
              border-top-right-radius: 250px;
              border-bottom-right-radius: 180px;
              border-bottom-left-radius: 180px;
            }
          }
          img {
            position: absolute;
            top: 10%;
            left: 50%;
            width: 70%;
            transform: translate(-45%);
          }
        }
      }

      .profile-square {
        position: relative;
        // background-color: green;
        width: 100%;
        height: 535px;
        padding: 0 20px;
        padding-top: 50px;
        @include responsive(large-screens) {
          width: 50%;
          height: 650px;
        }
        
        .box-line1 {
          position: absolute;
          top: 10px;
          right: 0;
          width: 80%;
          border: 1px solid white;
          &::after {
            position: absolute;
            top: 20px;
            right: 10px;
            content: "";
            width: 100%;
            border: 1px solid white;
          }
          &::before {
            position: absolute;
            content: "";
            top: -30px;
            right: 20px;
            height: 400px;
            border: 1px solid white;
          }
        }
        .box-line2 {
          position: absolute;
          bottom: 30px;
          left: 20px;
          width: 70%;
          border: 1px solid white;
          &::after {
            position: absolute;
            bottom: 20px;
            left: -10px;
            content: "";
            width: 70%;
            border: 1px solid white;
          }
          &::before {
            position: absolute;
            content: "";
            bottom: -30px;
            left: 0;
            height: 400px;
            border: 1px solid white;
          }
        }
        .profile-txt {
          width: 90%;
          margin: 30px auto;
          .introduction-1 {
            font-size: 20px;
            text-align: left;
            @include responsive(large-screens) {
              font-size: 36px;
            }
          }
          .introduction-2 {
            font-size: 20px;
            text-align: right;
            @include responsive(large-screens) {
              font-size: 36px;
            }
          }

          p {
            margin-top: 20px;
            @include responsive(large-screens) {
              font-size: 20px;
            }
          }
          .info {
            width: 100%;
            margin-top: 20px;
            li {
              margin: 5px 0;
              margin-top: 10px;
              .bg-box {
                padding: 3px;
                background-color: $color-white;
                color: $color-black;
                font-size: 18px;
                @include responsive(large-screens) {
                  font-size: 20px;
                }
              }
              ul {
                li {
                  @include responsive(large-screens) {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }// #About-me

  #Skill {
    text-align: center;
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 100px;

    @include responsive(large-screens) {
      height: 100vh;
    }
    .wrapper {

      .skill-list {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 158px);
        grid-template-rows: minmax(158px, auto);
        gap: 12px;
        
        @include responsive(large-screens) {
          grid-template-columns: repeat(5, 180px);
          gap: 60px;
          grid-template-rows: minmax(180px, auto);
          // background-color: lightcoral;
        }
        
        .progress-circle {
          position: relative;
          width: 158px;
          height: 158px;

          display: flex;
          // flex-direction: column;
          align-items: center;
          justify-content: center;
  
          border-radius: 90px;
          background: conic-gradient($color-blue 3.6deg, $color-white 0deg);
          cursor: pointer;

          opacity: 0;
          transform: translateY(100px);
          transition: opacity 0.7s ease, transform 0.9s ease;

          .progress-circle {
            position: relative;
            width: 158px;
            height: 158px;
  
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: center;
    
            border-radius: 90px;
            background: conic-gradient($color-blue 3.6deg, $color-white 0deg);
            cursor: pointer;
            @include responsive(large-screens) {
              width: 180px;
              height: 180px;
              border-radius: 120px;
            }
  
            &::before {
              position: absolute;
              content: "";
              width: 130px;
              height: 130px;
  
              border-radius: 50%;
              background-color: $color-black;
              @include responsive(large-screens) {
                width: 150px;
                height: 150px;
              }
            }
            .progress-num {
              position: relative;
              font-size: 40px;
  
            }
            img {
              margin: 0 auto;
              position: absolute;
              width: 98px;
              height: 98px;
              border-radius: 24px;
              background-color: $color-black;
  
              &:hover {
                opacity: 0.2;
              }
              @include responsive(large-screens) {
                width: 110px;
                height: 110px;
              }
            }
          }
          @include responsive(large-screens) {
            width: 180px;
            height: 180px;
            border-radius: 120px;
          }

          &::before {
            position: absolute;
            content: "";
            width: 130px;
            height: 130px;

            border-radius: 50%;
            background-color: $color-black;
            @include responsive(large-screens) {
              width: 150px;
              height: 150px;
            }
          }
          .progress-num {
            position: relative;
            font-size: 40px;

          }
          img {
            margin: 0 auto;
            position: absolute;
            width: 98px;
            height: 98px;
            border-radius: 24px;
            background-color: $color-black;

            &:hover {
              opacity: 0.2;
            }
            @include responsive(large-screens) {
              width: 110px;
              height: 110px;
            }
          }
        }
      }
    }
  }// Skill

  #Portfolio-site {

    @include responsive(large-screens) {
      height: 100vh;
    }
    //공통
    .site-box {

      @include responsive(large-screens) {
        width: 1180px;
        overflow-x: scroll;
        // background-color: orange;
        border: 1px solid rgba($color: $color-white, $alpha: 0.7) ;
        border-radius: 30px;
        background-color: rgba($color: $color-black, $alpha: 0.7);

      }
      .site-slide {
        @include responsive(large-screens) {
          width: 1180px * 3;
          height: 65vh;
          display: flex;
        }
        .site-sample {
          margin-bottom: 60px;
          @include responsive(large-screens) {
            display: grid;
            grid-template-columns: repeat(2, 48%);
            grid-template-rows: auto;
            gap: 20px;
            align-items: center;
            width: 1180px;
            height: 100%;
            justify-content: center;
          }
          img {
            @include responsive(large-screens) {
              padding-left: 20px;
              // background-color: aquamarine;
            }
          }
          .site-txt {
            text-align: center;

            @include responsive(large-screens) {
              // border: 1px solid lightsalmon;
              text-align: left;
              height: 85%;
              margin-right: 20px;
            }
            h3 {
              padding: 5px;
              border-bottom: 3px solid $color-white;
              margin-bottom: 10px;
              @include responsive(large-screens) {
                font-size: 48px;
                border-bottom: none;
                padding-left: 0;
              }
            }
      
            strong {
              font-size: 18px;
              @include responsive(large-screens) {
                font-size: 32px;
              }
            }
      
            p {
              font-size: 16px;
              margin: 30px 0;
              @include responsive(large-screens) {
                font-size: 24px;
                height: 150px;
              }
            }
      
            .btns {
              
              @include responsive(large-screens) {
                display: flex;
                justify-content: space-between;
                width: 398px;
              }
              
              a {
                position: relative;
                margin: 0 auto;
                cursor: pointer;
      
                width: 182px;
                height: 57px;
                font: 24px $font-main;
                text-align: center;
                line-height: 50px;
      
                border: 1px solid $color-black;
                border-radius: 30px;
                background-color: $color-white;
      
                color: $color-black;
                background-repeat: no-repeat;
                background-position: center left 10px;
                background-size: 39px;
      
                margin-bottom: 10px;

                &:hover {
                  background-color: $color-black;
                  border: 1px solid $color-white;
                  span {
                    color: $color-white;
                  }
                }
                span {
                  color: $color-black;
                }
                .arrow {
                  position: absolute;
                  top: 0;
                  right: 15px;
                  font: 35px $font-arrow;
                  // color: $color-black;
                  font-weight: normal;
                }
                
              }
      
              .btn-plan {
                cursor: pointer;
                img {
                  position: absolute;
                  top: 15%;
                  left: 10px;
                  width: 40px;
                  padding: 0;
                }
              }
      
              .btn-page {
                cursor: pointer;
                img {
                  position: absolute;
                  top: 15%;
                  left: 10px;
                  width: 40px;
                  padding: 0;
                }
              }
            }
          }
        }
        .site2 {
          img {
            @include responsive(large-screens) {
              grid-area: 1 / 2;
              padding-left: 0;
              padding-right: 20px;
            }
          }
          .site-txt {
            @include responsive(large-screens) {
              grid-area: 1 / 1;
              text-align: right;
              margin-right: 0;
              margin-left: 20px;
            }
          }
          .btns {
            @include responsive(large-screens) {
              transform: translateX(150px);
            }
          }
        }
      }
    }
  } // Prortfolio

  #Portfolio-other {
    @include responsive(large-screens) {
      height: 100vh;
    }
    .tabs-wrap {
      padding-top: 60px;
      height: 100%;
      
      @include responsive(large-screens) {
        padding-top: 0;
        display: flex;
      }
      .tabs {
        
        display: flex; 
        justify-content: space-between;
        margin-bottom: 10px;
        @include responsive(large-screens) {
          display: block;
          width: 220px;

          margin-right: 20px;
          margin-bottom: 0;
        }
        .tab-btn {

          font-size: 20px;
          padding: 5px;
          width: 33%;
          text-align: center;
          cursor: pointer;
          border: 1px solid $color-white;

          &.active {
            background-color: white;
            color: $color-blue;
            font-weight: 600;
          }

          &:hover {
            // border-bottom: 1px solid $color-white;;
            // color: $color-blue;

            font-weight: 600;
          }
          @include responsive(large-screens) {
            font-size: 36px;
            width: 220px;
            text-align: right;
            border-bottom: none;
            &:last-child {
              border: 1px solid $color-white;
            }
          }
          // &.active {
          //   background-color: cornflowerblue;
          // }
        }
      }
      .tab-content {
        display: none;
        &.active {
          display: block;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(2, 48%);
          grid-template-rows: minmax(158px);
          gap: 12px;
          width: 100%;

          @include responsive(large-screens) {
            grid-template-columns: repeat(2, 460px);
            grid-template-rows: minmax(460px);
            gap: 20px;
          }
          
          li {
            width: 100%;
            &:nth-child(1) {
              margin-right: 12px;
            }
            a {
              
              .tab-img {
                position: relative;
                z-index: 0;
                // margin-bottom: 20px;
                overflow: hidden;
                width: 100%;
                height: 100%;

                &::after {
                  position: absolute;
                  bottom: 0; left: 0;

                  content: "";
                  z-index: 10;
                  width: 100%;
                  height: 0;
                  opacity: 0.6;
                  background-color: blue;
                  transition: all 0.3s;
                }
                &:hover::after {
                  height: 100%;
                }
                
                img {
                  width: 100%;
                  height: 100%;
                  
                  @include responsive(large-screens) {
                    width: 460px;
                    height: 500px;
                  }
                }
              }
              h4 {
                position: relative;
                width: 100%;
                font-size: 16px;
                padding: 3px;
                border: 2px solid $color-white;
                border-radius: 20px;
                text-align: center;
                margin-top: 20px;
                &:hover {
                  background-color: #fff;
                  color: black;
                }
                @include responsive(large-screens) {
                  width: 462px;
                  font-size: 32px;
                  padding: 5px;
                  border: 2px solid $color-white;
                  border-radius: 30px;
                }
                &::before {
                  position: absolute;
                  top: 0;
                  left: 0;
                  content: " ";
                  width: 100%;
                  height: 31px;
                  border: 2px solid $color-white;
                  border-radius: 20px;
                  @include responsive(large-screens) {
                    top: 1px;
                    left: 1px;
                    width: 458px;
                    height: 57px;
                    border: 2px solid $color-white;
                    border-radius: 30px;
                  }
                }
              }
            }
          }
        }
      }
    } // coding-sample
    
  }

  #Contact {
    overflow: hidden;
    @include responsive(large-screens) {
      height: 100vh;
    }
    
    .position-box {
      position: relative;
      height: 800px;
      text-align: center;
      // background-color: pink;
      margin-top: 100px;

      @include responsive(large-screens) {
        height: 800px;
        text-align: none;
      }
      h2 {
        margin-bottom: 60px;
        @include responsive(large-screens) {
          margin-left: 120px;
        }
      }
      .email-txt {
        @include responsive(large-screens) {
          position: absolute;
          top: 150px;
          left: 200px;
          text-align: right;
          padding: 25px;
          border: 1px solid white;
          border-radius: 40px;
          &::before {
            content: " ";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 368px;
            height: 148px;
            border: 1px solid white;
            border-radius: 40px;
          }

        }
        strong {
          font-size: 24px;
          font-weight: 600;
          @include responsive(large-screens) {
            font-size: 36px;
          }
        }
        a {
          font-size: 20px;
          @include responsive(large-screens) {
            font-size: 32px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .tale1 {
        @include responsive(large-screens) {
          position: absolute;
          top: 300px;
          left: 540px;
          width: 60px;
          height: 1px;
          background-color: white;
          transform: rotate(30deg);
          &::before {
            position: absolute;
            content: "";
            top: -3px;
            left: 5px;
            width: 60px;
            height: 1px;
            background-color: white;
            transform: rotate(10deg);
          }
        }
      }
  
      .img-1 {
        display: inline-block;
        width: 92px;
        height: 67px;
        // border: 1px solid $color-white;
        margin-top: 60px;
        margin-bottom: 50px;
        @include responsive(medium-screens) {
          display: none;
        }
      }
  
      .message {
        margin-bottom: 90px;
        @include responsive(large-screens) {
          position: absolute;
          top: 200px;
          right: 150px;
          // text-align: left;
          padding: 25px;
          width: 367px;
          border: 1px solid white;
          border-radius: 40px;
          margin-bottom: 0;
          // background-color: aquamarine;
  
          &::before {
            content: " ";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 368px;
            height: 148px;
            border: 1px solid white;
            border-radius: 40px;
          }
        }
        p {
          font-size: 32px;
          line-height: 1.2;
          @include responsive(large-screens) {
            text-align: left;
            font-size: 40px;
            margin-left: 30px;
          }
          .point-blue {
            color: $color-blue;
          }
        }
      }
      .tale2 {
        @include responsive(large-screens) {
          position: absolute;
          top: 350px;
          right: 490px;
          width: 70px;
          height: 1px;
          background-color: white;
          transform: rotate(-40deg);
          &::before {
            position: absolute;
            content: "";
            top: 2px;
            right: -3px;
            width: 70px;
            height: 1px;
            background-color: white;
            transform: rotate(7deg);
          }
        }
      }
      .person {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translate(-50%);
        width: 134px;
        z-index: 10;
        @include responsive(large-screens) {
          width: 200px;
          bottom: 200px;
          transform: translate(-40%);
        }
        img {
          display: inline-block;
          width: 134px;
          @include responsive(large-screens) {
            width: 200px;
    
          }
        }
      }
  
      .earth {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        @include responsive(medium-screens) {
          bottom: -300px;
        }
        @include responsive(large-screens) {
          bottom: -300px;
        }
        img {
          width: 500px;
          @include responsive(medium-screens) {
            width: 1200px;
          }
        }
      }
      .footer {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: 50;
        height: 30px;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.747);
        @include responsive(medium-screens) {
          bottom: -22px;
          height: 35px;
        }
        h2 {
          font-size: 13px;
          font-weight: normal;
          font-family: $font-main;
          text-align: center;
        }
      }
    }

  }
}