
$color-main: #3E81FF;
$color-black: #000;
$color-white: #fff;

$font-main:"Noto Sans KR";

$mobile-h2: calc(32px + 0.2vw);
$mobile-h3: calc(24px + 0.2vw);

$width-wide: 100%;
$width-half: 50%;

$break-small: 360px;
$break-mediunm: 768px;
$break-large: 1440px;